<div class="docs modal fade" id="cookiePolicy" tabindex="-1" role="dialog" aria-labelledby="cookiePolicy">

    <div class="modal-dialog" role="document">

    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="icon-cancel-circle" aria-hidden="true"></span></button>
            <h4 class="modal-title trafalgar uc">Cookie policy</h4>
        </div>

        <div class="modal-body">

            <h1 class="docs__heading">
                How We Use Cookies
            </h1>

            <p>
                Like many websites we use cookies to store and then retrieve small bits of information on your computer when you visit. This information is used to make the site work as you expect it to. It is not personally identifiable to you, but it can be used to give you a more personalised web experience.
            </p>
            <p>
                Some of the information stored is put there by other companies whose software we have added to the site, and this can also impact your experience of other websites you may visit after leaving ours.
            </p>
            <p>
                If you continue to use this site without taking action to prevent the storage of this information, you are effectively agreeing to this use.
            </p>
            <p>
                If you want to learn more about the general uses of cookies, including how to stop them being stored by your computer, please visit <a href="http://www.aboutcookies.org/">www.aboutcookies.org</a>.
            </p>
            <p>
                Below is a list of the different types of cookies used on this site, and an explanation of what they are used for. If you would like any more information, please get in touch.
            </p>
            <h2 class="docs__heading">
                Strictly Necessary Cookies
            </h2>
            <p>
                These cookies are necessary for the website to function. They are usually only set in response to actions made by you which amount to a request for services, such as logging in or filling in forms.
            </p>
            <p>
                You can set your browser to block or alert you about these cookies, but some parts of the site will not then work. These cookies do not store any personally identifiable information.
            </p>
            <ul>
                <li>N/A</li>
            </ul>
            <h2 class="docs__heading">
                Performance Cookies
            </h2>
            <p>
                These cookies allow us to count visits and traffic sources so we can measure and improve the performance of our site. They help us to know which pages are the most and least popular and see how visitors move around the site.
            </p>
            <p>
                All information these cookies collect is aggregated and therefore anonymous. If you do not allow these cookies we will not know when you have visited our site, and will not be able to monitor its performance.
            </p>
            <ul>
                <li>_gat</li>
                <li>_ga</li>
            </ul>
            <h2 class="docs__heading">
                Functionality Cookies
            </h2>
            <p>
                These cookies enable the website to provide enhanced functionality and personalisation. They may be set by us or by third party providers whose services we have added to our pages.
            </p>
            <p>
                If you do not allow these cookies then some or all of these services may not function properly.
            </p>
            <ul>
                <li>N/A</li>
            </ul>
            <h2 class="docs__heading">
                Targeting Cookies
            </h2>
            <p>
                These cookies may be set through our site by our advertising partners. They may be used by those companies to build a profile of your interests and show you relevant adverts on other sites.
            </p>
            <p>
                They do not store any personally identifiable information, but are based on uniquely identifying your browser and internet device. If you do not allow these cookies, you will experience less targeted advertising.
            </p>
            <ul><li>APISID</li><li>SSID</li><li>NID</li><li>PREF</li><li>_drt_</li><li>SID</li><li>SAPISID</li><li>id</li><li>HSID</li></ul>
            <h2 class="docs__heading">
                Other Cookies
            </h2>
            <p>
                The following cookies are also set by our site, however their purpose has not yet been identified. We are conducting research into these cookies and will update this page as soon as possible.
            </p>
            <ul>
                <li>__cfduid</li>
                <li>zte2095</li>
            </ul>

        </div>

        <div class="modal-footer">
        </div>

    </div>

</div>

</div>
