<div class="docs modal fade" id="privacyPolicy" tabindex="-1" role="dialog" aria-labelledby="privacyPolicy">

    <div class="modal-dialog" role="document">

    <div class="modal-content">

        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="icon-cancel-circle" aria-hidden="true"></span></button>
            <h4 class="modal-title trafalgar uc">Privacy policy</h4>
        </div>

        <div class="modal-body">

			<h1 class="docs__heading">
				Privacy policy
			</h1>

			<p>This Privacy Policy governs the way in which DS Marketing &amp; Contracting Limited (T/A Distinctive Marketing / Distinctive Contracting / Distinctive Consulting) & our associated businesses collects, uses, maintains and discloses information collected from users (each, a “User”) of the www.distinctive.marketing website (“Site”). This privacy policy applies to the Site and all products and services offered by DS Marketing & Contracting Limited & our associated businesses.</p>

			<p>DS Marketing &amp; Contracting Limited respects your privacy and is committed to protecting the personal information you share with us.</p>

			<h2 class="docs__heading">Data Protection Laws</h2>

			<p>We are conscious of our legal responsibilities with regard to the control of data and we shall endeavour to ensure that the personal information we obtain and use will always be held, used, transferred and otherwise processed in accordance with our legal obligations.</p>

			<h2 class="docs__heading">Personal Identification Information</h2>

			<p>We may collect personal identification information (name, address, phone number and email address) from Users in a variety of ways, including, but not limited to, when Users visit our Site, register on the Site, place an enquiry, subscribe to the newsletter, fill out a form, and in connection with other activities, services, features or resources we make available on our Site. Users may be asked for, as appropriate, name, email address, mailing address, phone number. Users may, however, visit our Site anonymously. We will collect personal identification information from Users only if they voluntarily submit such information to us. Users can always refuse to supply personal identification information, however it may prevent them from engaging in certain Site related activities.</p>

			<h2 class="docs__heading">Non-Personal Identification Information</h2>

			<p>We may collect non-personal identification information about Users whenever they interact with our Site. Non-personal identification information may include the browser name, the type of computer and technical information about Users means of connection to our Site, such as the operating system and the Internet service provider utilised and other similar information.</p>

			<h2 class="docs__heading">How We Use Collected Information</h2>

			<p>The personal information that Users provide will be available to DS Marketing & Contracting Limited (“Distinctive Marketing” / “Distinctive Contracting” / “Distinctive Consulting”), our affiliated companies and trusted third party service providers and contractors for the following purposes:</p>

			<ul>
				<li>To process enquiries and transactions received via the Site.</li>
				<li>To register you for and send you newsletters/updates via e-mail or mail.</li>
				<li>To personalise User experience to improve our Site and our customer service.</li>
				<li>To conduct promotions, market research, surveys or other Site features.</li>
				<li>To provide you with information about our products and services that may be of interest to you.</li>
				<li>To send emails using the email address Users provide for services we supply. The Users email address will be used to send information and updates regarding their service but it may also be used to respond to enquiries, and/or other requests or questions. If at any time the User would like to unsubscribe from receiving future emails, we include detailed unsubscribe instructions at the bottom of each email.</li>
			</ul>

			<h2 class="docs__heading">Cookies and Tracking Software</h2>

			<p>We use “cookies” and other types of tracking software in order to personalise your visit to our website and enhance your experience by gaining a better understanding of your particular interests and customising our pages for you. A cookie is a message given to a web browser by a web server and which is then stored by the browser in a text file. Each time the browser requests a page from the server this message is sent back which enables the user’s computer to be identified.</p>

			<p>We may use the information provided by cookies to analyse trends, administer the website, or for research and marketing purposes to help us better serve you. No information which personally identifies you will be collected through the cookies. If you prefer, you can set your browser to notify you before you receive a cookie so you have the chance to accept it and you can also set your browser to turn off all cookies. If you do not wish these cookies to be used, then please note that our Site may not function at its best.</p>

			<h2 class="docs__heading">Sharing your personal information</h2>

			<p>We do not sell, trade, or rent Users personal identification information to others. We may share generic aggregated demographic information not linked to any personal identification information regarding visitors and users with our business partners, trusted affiliates and advertisers for the purposes outlined above. We may use third party service providers to help us operate our business and the Site or administer activities on our behalf, such as sending out newsletters or surveys. We may share your information with these third parties for those limited purposes provided that you have given us your permission.</p>

			<h2 class="docs__heading">Other Websites</h2>

			<p>There may be links from the Site to other websites. This Privacy Policy only applies to this Site and not to any other websites. Accessing those third party websites or sources requires you to leave the Site. We do not control those third party websites or any of the content they contain and you expressly acknowledge and agree that we are in no way responsible or liable for any of those third party websites, including, without limitation, the content, policies, failures, promotions, products, services or actions of those websites and/or any damages, losses, failures or problems caused by, related to or arising from those websites. We encourage you to review all policies, rules, terms and regulations, including the privacy policies, of each website that you visit.</p>

			<h2 class="docs__heading">Accuracy of your Information</h2>

			<p>While we endeavour to ensure that the information we hold about you is accurate and kept up to date, we shall assume that in the absence of evidence to the contrary, the information you provide us with is accurate. Should you inform us of inaccuracies in the information which we hold in relation to you or, if we discover that such information is inaccurate, it shall be promptly rectified by us. We do not intentionally retain any information about you which is out of date or which is no longer required.</p>

			<h2 class="docs__heading">Personal Data Security and Confidentiality</h2>

			<p>We maintain adequate technical and organisational security measures to protect your personal information from loss, misuse, and unauthorised access, disclosure, alteration, or destruction.</p>

			<h2 class="docs__heading">Retention of data</h2>

			<p>We will keep your personal information for as long as necessary for the purposes for which it was collected, to provide you with services and to conduct our legitimate business interests or where otherwise required by law.</p>

			<h2 class="docs__heading">Changes to This Privacy Policy</h2>

			<p>DS Marketing &amp; Contracting Limited (“Distinctive Marketing” / “Distinctive Contracting” / “Distinctive Consulting” and our associated businesses) has the discretion to update this privacy policy at any time. When we do, we will revise & update the date at the bottom of this page. </p>

			<p>We encourage Users to frequently check this page for any changes to stay informed about how we are helping to protect the personal information we collect. You acknowledge and agree that it is your responsibility to review this privacy policy periodically and become aware of modifications. Your continued use of the Site, following the posting of changes to this privacy policy, will mean you accept these changes.</p>

			<h2 class="docs__heading">Privacy Queries</h2>

			<p>If you have any questions about this Privacy Policy, or you wish to update or remove your personal data from our records, please inform us using the ‘Contact Us’ facility on this website or or email us at: info@distinctive.marketing </p>

			<p>This document was last updated on 13th February 2016.</p>

        </div>

        <div class="modal-footer">
        </div>

    </div>

</div>

</div>
