<style type="text/css">
	<!-- #eucookielaw { display:none }
	.eucookielaw { background-color: #4ab7cd; background-color: rgba(74, 183, 205, .95); height: auto; left: 0px; padding-bottom: 10px; padding-top: 10px; position: fixed; bottom: 0; width: 100%; z-index: 16777260; }
	.eucookielaw__infotext { color: White; font-size: 14px; font-weight: 700; line-height: 16px; padding-left:20px; padding-right: 20px; text-align: center; }
	@media screen and (min-width: 767px) { .eucookielaw__infotext { font-size: 18px; line-height: 24px; } }
	.eucookielaw__controls { margin: 0 auto; text-align: center; }
	.eucookielaw__button { -webkit-appearance: none; background-color: #474e4d; border-radius: 6px; border: none; color: White; padding-bottom: 8px; padding-left: 16px; padding-right: 16px; padding-top: 8px; text-align: center; } -->
</style>
