<div class="docs modal fade" id="terms" tabindex="-1" role="dialog" aria-labelledby="terms">

  <div class="modal-dialog" role="document">

  <div class="modal-content">

    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span class="icon-cancel-circle" aria-hidden="true"></span></button>
      <h4 class="modal-title trafalgar uc">Terms and conditions</h4>
    </div>

    <div class="modal-body">

      <h1 class="docs__heading">
        TERMS AND CONDITIONS FOR THE SUPPLY OF MARKETING SERVICES BY DS MARKETING & CONTRACTING LTD.
      </h1>

      <p>DS Marketing & Contracting Ltd. (Trading as: &ldquo;Distinctive Marketing&rdquo; / &ldqup;Distinctive Contracting&rdquo; / &ldquo;Distinctive Consulting&rdquo;) supplies a wide range of services. Some of the terms and conditions herein vary according to the Service specified within individual proposals.</p>

      <h2 class="docs__heading">DEFINITIONS AND INTERPRETATION</h2>

      <p>In these terms and conditions the following definitions apply unless otherwise stated:</p>

      <p>&lsquo;Business Day&rsquo; means a day (other than a Saturday, Sunday or public holiday) when banks in London are open for business.</p>

      <p>'Contract' means the contract between the Company and the Client for the supply of Services governed by these Terms and the Order.</p>

      <p>&lsquo;Client&rsquo; means the individual or business entity who purchases Services from the Company and whose details are set out in the Order.</p>

      <p>'Force Majeure Event' means an event beyond the reasonable control of either party, including but not limited to strikes, lock-outs or other industrial disputes, failure of a utility service or transport network, act of God, war, riot, civil commotion, malicious damage, compliance with any law or governmental order, rule, regulation or direction, accident, breakdown of plant or machinery, fire, flood, storm or default of suppliers or subcontractors.</p>

      <p>&lsquo;Group Company&rsquo; means a company which is a subsidiary or holding company of the Company, as defined in section 1159 of the Companies Act 2006.</p>

      <p>&lsquo;Company&rsquo; means DS Marketing & Contracting Ltd. a company incorporated in England and Wales under company number 8657384 whose registered office is at 5a Frascati Way, Maidenhead Berkshire, SL6 4UY, UK, trading as &ldquo;Distinctive Marketing&rdquo; / &ldquo;Distinctive Contracting&rdquo; / &ldquo;Distinctive Consulting&rdquo;.</p>

      <p>&lsquo;Intellectual Property Rights&rsquo; means all patents, rights to inventions, utility models, copyright and related rights, trade marks, service marks, trade, business and domain names, rights in trade dress or get-up, rights in goodwill or to sue for passing off, unfair competition rights, rights in designs, rights in computer software, database right, topography rights, moral rights, rights in confidential information (including know-how and trade secrets) and any other intellectual property rights, in each case whether registered or unregistered and including all applications for and renewals or extensions of such rights, and all similar or equivalent rights or forms of protection in any part of the world.</p>

      <p>&lsquo;Order&rsquo; means the order placed by the Client through counter-signing the Company&rsquo;s Quotation form.</p>

      <p>&lsquo;Order Form&rsquo; means a Quotation form counter-signed by the Client which together with these terms and conditions shall form a binding contract.</p>

      <p>&lsquo;Quotation&rsquo; means the written quotation prepared by the Company which contains its proposals for providing Services to the Clients.</p>

      <p>&lsquo;Services&rsquo; means the services the Company will provide to the Client as specified in the Order.</p>

      <p>&lsquo;Specification&rsquo; means the description or specification of the Services in the Order.</p>

      <p>&lsquo;Terms&rsquo; means these terms and conditions as updated from time to time by the Company.</p>

      <p>&lsquo;VAT&rsquo; means value added tax chargeable under English law for the time being and any similar additional tax.</p>

      <p>&lsquo;White Label Work&rsquo; means Services provided by the Company to a Client who rebrands these services as their own for the benefit of their client.</p>

      <p>Where these Terms use words in their singular form, they shall also be read to include the plural form of the word and vice versa. Where these Conditions use words which denote a particular gender, they shall be also read to include all genders and vice versa.</p>

      <p>The headings in this document are inserted for convenience only and shall not affect the construction or interpretation of these Terms.</p>

      <p>A reference to a statute or statutory provision is a reference to such statute or statutory provision as amended or re-enacted. A reference to a statute or statutory provision includes any subordinate legislation made under that statute or statutory provision, as amended or re-enacted.</p>

      <h2 class="docs__heading">TERMS AND CONDITIONS</h2>

      <p>These Terms shall apply to all agreements concluded between the Company and the Client to the exclusion of any other terms that the Client seeks to impose or incorporate, or which are implied by trade, custom, practice or course of dealing.</p>

      <p>These Terms and the Order may only be varied by express written agreement between the Company and the Client.</p>

      <h2 class="docs__heading">THE CONTRACT</h2>

      <p>The Order constitutes an offer by the Client to purchase the Services in accordance with these Terms. The Client shall ensure that the terms of the Order and any relevant Specification are complete and accurate.</p>

      <p>The Order shall only be deemed to be accepted when the Company issues a written acceptance of the Order, or when the Company has started to provide the Services having received the Order, whichever happens first, at which point the Contract shall come into existence.</p>

      <p>The Contract constitutes the entire agreement between the Company to provide the Services to the Client and for the Client to purchase those Services, in accordance with these Terms.</p>

      <p>The Client acknowledges that it has not relied on any statement, promise or representation made or given by or on behalf of the Company which is not set out in the Contract. Any samples, drawings, descriptive matter, or advertising issued by the Company and any descriptions or illustrations contained in the Company's catalogues or brochures are issued or published for the sole purpose of giving an approximate idea of the Services described in them. They shall not form part of the Contract or any other contract between the Company and the Client for the supply of Services.</p>

      <p>A Quotation for the supply of Services given by the Company shall not constitute an offer. A Quotation shall only be valid for a period of 14 Business Days from its date of issue.</p>

      <p>For any White Label Work the Client understands and agrees that the Company have no contractual relationship and therefore no liability in respect of the ultimate client with whom the Client agrees to perform the White Label Work for.</p>

      <h2 class="docs__heading">COMPANY OBLIGATIONS AND WARRANTIES</h2>

      <p>The Company warrants that it will provide the Services as stipulated in the Order using reasonable care and skill to conform in all material respects with the Specification.</p>

      <p>The Company shall use all reasonable endeavours to meet any performance dates specified in the Order but any such dates shall be estimates only and time shall not be of the essence for the provision of the Services. The Company shall not be liable for any delay in delivery of the Services caused by a Force Majeure event or the Client&rsquo;s failure to provide the Company with adequate delivery instructions or any other instructions relevant to the supply of the Services.</p>

      <p>The Company shall have the right to make any changes to the Services which are necessary to comply with any applicable law.</p>

      <p>The Company shall be entitled to use a Group Company or other subcontractors for the provision of the Services provided always that the Company shall remain liable to the Client for the performance of the Services as if it had carried them out itself.</p>

      <h2 class="docs__heading">CLIENT&rsquo;S OBLIGATIONS AND INDEMNITIES</h2>

      <p>The Client shall provide assistance and technical information to the Company, as reasonably required by the Company in sufficient time to facilitate the execution of an Order in accordance with any estimated delivery dates or milestones. The Client shall have sole responsibility for ensuring the accuracy of all information provided to the Company and warrants and undertakes to the Company that the Client&rsquo;s employees assisting in the execution of an Order have the necessary skills and authority.</p>

      <p>The Client shall be obliged as quickly as possible and within the agreed deadline to comment on and or approve materials provided under the Services, including (without limitation) advertising copy, search terms and graphic material submitted by the Company. In addition, the Client shall be obliged as quickly as possible and within the agreed deadline to implement changes on websites, in IT systems or where it may otherwise be required by the Company.</p>

      <p>The Client shall be obliged to inform the Company immediately of changes of domain names, websites, technical setup and any other material information regarding the technical infrastructure which may affect the Services delivered by the Company.</p>

      <p>In the event that the Client fails to undertake those acts or provide those materials required under this clause 5 within any agreed deadline (and at least within 15 Business Days of the date requested by the Company) the Company shall be entitled to invoice for the Services that it has supplied and the remaining Services specified in the Order whether or not the Company has been able to deliver them.</p>

      <p>The Client shall indemnify and keep the Company indemnified fully against all liabilities, costs and expenses whatsoever and howsoever incurred by the Company in respect of any third parties as a result of the provision of the Services in accordance with the Order, Specification, or the content of the Client&rsquo;s advertising or web pages which result in claims or proceedings against the Company for infringement of any Intellectual Property Rights or other proprietary rights of third parties, or for breach of confidentiality or contract or for defamation.</p>

      <p>The Client undertakes to comply with all applicable rules, regulations, codes of practice and laws relating to its use of the Services, including without limitation its obligations under the Data Protection Act 1998, the Regulation of Investigatory Powers Act 2000, Competition Act 1998 and the E-Commerce Directive and equivalent legislation and hereby agrees to indemnify and to keep the Company indemnified in respect of any and all costs, claims or proceedings whatsoever brought against the Company by any third party in connection with any breach of the same by the Client.</p>

      <p>As standard across the Services and unless otherwise notified, the Client shall be exclusively responsible for implementing the optimisation changes recommended by the Company. As notified by the Company, in certain cases for amendments to existing optimisations, the Client shall allow the Company use of the site&rsquo;s FTP or content management system&rsquo;s username and password in order to gain access to add in keywords.</p>

      <p>The Company require that prior notice be given for any alterations relating to the Client&rsquo;s website(s) that may affect the services supplied by the Company. If alterations are made by the Client or a third party to the Client&rsquo;s site(s) search engine placements may be affected and the Company cannot be held responsible.</p>

      <p>The Company advises that regular, fresh content added to the site will help to improve the stability of rankings within search engines and the Client understands that regular, unique content plays an important part in the success of a website and failure to add unique content will lessen the impact of SEO services.</p>

      <p>In respect of all White Label Work the Client shall indemnify the Company against all liabilities, costs, expenses, damages and losses (including any direct, indirect or consequential losses, loss of profit, loss of reputation and all interest, penalties and legal and other professional costs and expenses) suffered or incurred by the Company arising out of or in connection with the contract between the Client and their client for the White Label Work.</p>

      <h2 class="docs__heading">PRICES</h2>

      <p>Unless otherwise expressly stated, all prices shall be in Pounds Sterling and shall be exclusive of VAT and other duties. In the event that duties are introduced or changed after the conclusion of an Order, the Company shall be entitled to adjust the agreed prices accordingly.</p>

      <p>The Client acknowledges that certain Services may involve the licensing of third party Intellectual Property Rights and that the Client may be required to enter into a licence directly with such third party. Unless otherwise expressly stated, all prices shall be exclusive of costs for the acquisition of Intellectual Property Rights for materials to be included in marketing materials, including if relevant (but without limitation) pictures and licences from third party owners and licensors.</p>

      <p>The price stated in the Order shall be a an estimate based on a qualified estimate of the number of hours required to provide the Services. This is an estimate only and Services shall be invoiced in accordance with the actual number of hours spent in accordance with the price set out in the Order or Quotation and in the event that the price is not so stipulated, the Client shall be charged at the hourly rate specified in the Company&rsquo;s then current price list. the Company shall be obliged to update the estimate and budgets on an ongoing basis following, among other things, changes made to an Order.</p>

      <p>Whilst every effort is made to ensure that costing estimates are accurate, the Company reserves the right to amend any estimate, should an error or omission have been made.</p>

      <h2 class="docs__heading">PAYMENT</h2>

      <p>The Company shall invoice the Client monthly, either in advance or following Services delivered. Before the Company carry out any work Clients are usually asked to provide a non-refundable fees deposit. This deposit is like a rent deposit. It is kept securely and will be offset against the Client&rsquo;s last invoice(s) when the work detailed in an Order has been completed. Also, if the Client does not pay a monthly invoice when it is due the Company shall use the deposit to pay the invoice and will not do any further work until the deposit is replaced.</p>

      <p>The Client shall pay each invoice submitted by the Company within 14 Business Days of the date of the invoice and in cleared funds in accordance with clause 7.3 below. The invoice number shall be stated on all payments and payment by BACS, CHAPS, Cheque and Bank Transfer are accepted.</p>

      <p>The Client shall pay all amounts due under the Contract in full without any deduction or withholding except as required by law and the Client shall not be entitled to assert any credit, set-off or counterclaim against the Company in order to justify withholding payment of any such amount in whole or in part. the Company may, without limiting its other rights or remedies, set off any amount owing to it by the Client against any amount payable by the Company to the Client.</p>

      <p>In the event of overdue payment, interest shall accrue on the invoice amount at the statutory rate prescribed by the Late Payment of Commercial Debts (Interest) Act 1998 or at the rate of 5 per cent (5%) over the base rate of Barclays Bank Plc (whichever should be the higher). At the Company&rsquo;s discretion, a fee of £10 (to cover administrative expenses and not as a penalty) shall be charged per reminder for overdue payment submitted to the Client. the Company shall be entitled to submit such reminders on a weekly basis once the fees have become overdue. the Company expressly reserves all rights at all times to bring any legal action it considers appropriate to recover any unpaid sums.</p>

      <p>Late payment shall be considered as constituting a material breach of the Contract entitling the Company (at its discretion) to cancel the Contract or to affirm the Contract and assert the usual remedies for breach.</p>

      <p>In the event that the Services cannot be delivered either in full or in part due to the Client&rsquo;s failure to assist or delay in assisting in the execution of the Order, the Company shall be entitled to charge to the Client an estimated amount, corresponding to the amount that would have been due had the Services been rendered in accordance with the Order. the Company shall be entitled to payment on the basis of the Company&rsquo;s price list applicable from time to time for any additional work required because of the Client&rsquo;s failure to assist or delay in assisting.</p>

      <p>If the Client subsequently requires the Company to complete the work within a shorter time frame than specified in the Order the Company reserves the right to charge additional monies to prioritise such projects ahead of pre-planned work.</p>

      <h2 class="docs__heading">DELAYS AND COMPLAINTS</h2>

      <p>In the event that the Client proves that the Services are delayed or not in accordance with the Contract, the Company shall be obliged to remedy or redeliver, at its own discretion, without undue delay. In the event that the Services continue to be not in accordance with the Contract after reasonable attempts have been made to remedy this, the Client shall be entitled to cancel the Order in accordance with clause 13.2 a), provided that the breach is material.</p>

      <p>Complaints concerning delays or breach of Contract shall be submitted immediately after the time when the Client became or should have become aware of the matter. If the Client fails to bring the defect (unless by its very nature it is impossible to ascertain within such a period) to the attention of the Company within 48 hours the Client shall be deemed to have accepted the Services and shall not be entitled to assert remedies based on delays or breach of Contract.</p>

      <p>The Client hereby acknowledges that certain Services rely upon goods and/or services being provided by third parties (&lsquo;Third Party Services&rsquo;). The Client acknowledges that the Third Party Services will be governed by that third parties&rsquo; terms and conditions and that the Company cannot provide any warranties in respect of the Third Party&rsquo;s Services and will not be liable to the Client for any delays and/or failings in respect of the same.  Providers of Third Party Services may provide their own warranties to the Client and the Client must satisfy itself whether or not such warranties (where given) are acceptable for the Client&rsquo;s business purposes or risk management policies.</p>

      <p>The Company&rsquo;s only responsibility in respect of the Third Party Services is to take reasonable care and skill when selecting the providers of the same.</p>

      <p>The Client&rsquo;s exclusive remedies for late delivery or Services not conforming with the Contract are as specified in this clause 8 and, if the remedies set out in these Terms have been exhausted, the Client&rsquo;s final remedy is limited to cancellation of the Contract and the Company&rsquo;s sole liability is to refund any payments for Services not conforming with the Contract, subject to the limitations set out in clause 9 below.</p>

      <h2 class="docs__heading">LIABILITY</h2>

      <p>Except as expressly stated in this Clause 9, the Company shall have no liability to the Client for any loss or damage whatsoever arising from or in connection with the provision of the Services or for any claim made against the Client by any third party.</p>

      <p>Without prejudice to the generality of Clause 9.1 above, the Company shall have no liability for any losses or damages which may be suffered by the Client whether the same are suffered directly or indirectly or are immediate or consequential which fall into the following categories:</p>

      <p>Any indirect or consequential loss arising under or in relation to the Contract even though the Company was aware of the circumstances in which such loss could arise;</p>

      <p>Loss of profits; loss of anticipated savings; loss of business opportunity or goodwill;</p>

      <p>Loss of data; and</p>

      <p>Fraudulent clicks on any of the Client&rsquo;s accounts managed by the Company.</p>

      <p>To the extent such liability is not excluded by sub-clauses 9.1, 9.2 and clause 10 below, the Company&rsquo;s total liability (whether in contract, tort (including negligence or otherwise)) under or in connection with the Contract or based on any claim for indemnity or contribution (including for damage to tangible property) or otherwise will not in any event exceed the total sum invoiced for the Services.</p>

      <h2 class="docs__heading">OTHER LIMITATIONS OF LIABILITY</h2>

      <p>The Company shall not be liable for downtimes, interference in the form of hacking, virus, disruptions, interruptions, faulty third-party software, search engines or websites on which a service is dependent or other deliveries from a third party. the Company shall use its reasonable efforts to assist in remedial efforts if so requested by the Client. Any work connected with remedial efforts as described above shall be charged to the Client separately in accordance with these Terms or (at the Company&rsquo;s discretion) the Company&rsquo;s price list applicable from time to time.</p>

      <p>The Company shall not be liable for any changes made without notice by the Client or a third party employed by the Client to domain names, websites, links, technical setup etc. and affecting the Services delivered by the Company. Preceding or subsequent work connected with any adjustments required as a result of such changes shall be charged to the Client in accordance with these Terms or on the basis of the Company&rsquo;s price list applicable from time to time at the Company&rsquo;s discretion.</p>

      <p>The Company shall use all reasonable endeavours to deliver Services relating to search engine optimisation, links, advertisements, banners, pay per click and google analytics in accordance with the guidelines applicable to the relevant search engines. However, the Company shall not be liable for delayed or non-conforming performance due to changes made to standard terms, assessment algorithms, search criteria, viewing policy, prices and campaign offers or other matters beyond the Company&rsquo;s control and reserves the right to make changes to Services as a result of the same. In addition, the Company shall not be liable for other changes or discontinuation of search engines.</p>

      <p>The Company shall not be liable for Services relating to search engine optimisation, link building, advertisements, banners or sponsorships leading to a minimum number of views, position or frequency in searches on relevant words or otherwise. In addition, the Company shall not be liable for ensuring that such Services lead to a certain volume of traffic, number of clicks, registrations, purchases or the like.</p>

      <p>The Company shall not be responsible for URLs dropped or excluded by a search engine for any reason.</p>

      <p>If the Client does not implement some or all of the Company&rsquo;s recommendations, the Company shall not bear any liability for any lack of success experienced by the Client relating to the Services.</p>

      <h2 class="docs__heading">INTELLECTUAL PROPERTY RIGHTS</h2>

      <p>It is the responsibility of the Client to ensure that they have the right to use any Intellectual Property Rights when they provide any text, image or representation (“Materials”) to the Company for incorporation into the Services and the Client hereby grants or agrees to procure the grant of (as applicable) an irrevocable licence to the Company to use such Materials for the purposes of providing the Services for the duration of the Contract.</p>

      <p>The Client shall be responsible for ensuring that the contents of Materials which the Client has contributed or approved are not in contravention of legislation, decency, marketing rules or any other third-party rights. the Company shall be entitled to reject and delete such material without incurring any liability. In addition, the Company shall be entitled to cancel the Order.</p>

      <p>The Client shall indemnify the Company against all damages, losses and expenses suffered or incurred by the Company as a result of the Materials which the Client has contributed or approved being in contravention of legislation, decency, marketing rules or any action that any such Materials infringe any Intellectual Property Rights of a third party.</p>

      <p>The parties shall be obliged to notify the other party without undue delay of any claims raised against a party as described above.</p>

      <p>Unless expressly stated otherwise in these Terms or in an Order, the Intellectual Property Rights created, developed, subsisting or used in connection with the Services and whether in existence at the date hereof or created in the future shall vest in and be the property of the Company or the relevant third party from whom the Company has acquired a right of use with a view to executing the Order. The Client agrees to execute and deliver such documents and perform such acts as may be necessary from time to time to ensure such Intellectual Property Rights vest in the Company.</p>

      <p>The Intellectual Property Rights as mentioned in Clause 11.2 shall not be used, assigned, distributed, copied, forwarded to online or offline activities by the Client without a separate, express written agreement.</p>

      <p>If the Company makes software, scripts, ASP services etc. available to the Client as part of the execution of an Order, the Client shall only acquire a non-exclusive personal non transferable license to use such material until the Services under this agreement cease.</p>

      <p>The Client hereby irrevocably licenses the Company to use and display the Client&rsquo;s name, figure, logo etc. as a reference on the Company&rsquo;s website, other marketing materials or types of media whilst they are a Client of the Company and for 18 months after the Contract terminates. The Client agrees to send the Company it&rsquo;s most recent logo or figure as and when it is amended from time to time.</p>

      <h2 class="docs__heading">CONFIDENTIALITY AND PERSONAL DATA</h2>

      <p>A party (Receiving Party) shall keep in strict confidence all technical or commercial know-how, specifications, inventions, processes or initiatives which are of a confidential nature and have been disclosed to the Receiving Party by the other party (Disclosing Party), its employees, agents or subcontractors, and any other confidential information concerning the Disclosing Party's business or its products or its services which the Receiving Party may obtain. The Receiving Party shall restrict disclosure of such confidential information to such of its employees, agents or subcontractors as need to know it for the purpose of discharging the Receiving Party's obligations under the Contract, and shall ensure that such employees, agents or subcontractors are subject to obligations of confidentiality corresponding to those which bind the Receiving Party. This clause shall survive termination of the Contract.</p>

      <p>During the term of the Contract and for a period ending 5 years from the date of its conclusion, the Company shall take the same care as the Company uses with it own confidential information, to avoid, without the Client&rsquo;s consent, the disclosure to any third party (except a subcontractor working on the Services who is subject to similar undertakings of confidentiality) of any of the Client&rsquo;s business or operational information which the Client has designated as confidential.</p>

      <p>The obligation in Clause 12.2 shall not apply to any information which is or becomes publicly available otherwise than through a breach of this agreement, is already or rightly comes into the Company&rsquo;s possession without an accompanying obligation of confidence, is independently developed by the Company, or which the Company is required to disclose by law.</p>

      <p>During the term of the Contract and for a period ending 5 years from termination thereof, the Client will not disclose to any persons within its organisation that do not have a need to know, or to any third party, any information and non Client materials provided by the Company concerning the method or approach the Company uses in providing the Services.</p>

      <p>Each party agrees to comply with its respective obligations under the Data Protection Act 1998.

      <p>The Client shall be obliged to indemnify the Company for any loss, including costs incidental to legal proceedings, suffered by the Company as a result of the processing of personal data which the Client has contributed being in contravention of the Data Protection Act 1998 or marketing law. The parties shall be obliged to notify the other party without undue delay of any claims raised against a party as described in the present clause.</p>

      <h2 class="docs__heading">TERM, TERMINATION AND ASSIGNMENT</h2>

      <p>The Contract shall renew automatically for a further term of one year at the end of each year unless and until either party notifies the other of its wish to terminate the Contract at the expiry of the current year by giving the other party at least 30 days&rsquo; written notice to expire at the end of that Contract term.</p>

      <p>Without limiting its other rights or remedies, each party may terminate the Contract with immediate effect by giving written notice to the other party if the other party:</p>

      <ul>

        <li>commits a material breach of the Contract and (if such breach is remediable) fails to remedy that breach within 30 days of that party being notified in writing of the breach; or</li>

        <li>becomes or is insolvent or is unable to pay its debts (within the meaning of the Insolvency Act 1986) or (except for the purposes of a genuine amalgamation or reconstruction) a petition is presented or meeting convened or resolution passed for winding up the defaulting party or the defaulting party enters into liquidation whether compulsorily or voluntarily or compounds with its creditors generally or has a receiver, administrator, or administrative receiver appointed over all or any part of its assets or the defaulting party ceases to carry on all or a substantial part of its business.</li>

      </ul>

      <p>The Company shall, in addition to all other rights and remedies under these Terms be entitled to terminate this Contract without notice in the event that any of its charges for the Services are not paid in accordance with these Terms.</p>

      <p>Upon termination, for whatever reason, the parties shall be obliged to return all materials received from the other pursuant to the Contract without undue delay. If relevant, the Client shall be obliged to remove codes, etc, from websites without undue delay. If the Client fails to do so, the Company shall be entitled to invoice the Client in line with its then current terms and conditions for subsequent Services without such invoicing amounting to a waiver of the Company&rsquo;s right to terminate the Contract.</p>

      <p>The Client shall not be permitted to assign or transfer all or any part of its rights or obligations under the Contract and these Terms without the prior written consent of the Company.</p>

      <p>The Company shall be entitled to assign or subcontract any of its rights or obligations under the Contract and these Terms and the Client acknowledges that certain elements of the Services will be provided by third parties.</p>

      <h2 class="docs__heading">FORCE MAJEURE</h2>

      <p>Neither party shall be held liable for a Force Majeure Event.</p>

      <p>If a party believes that a Force Majeure Event has occurred, such party shall immediately inform the other party of the start and end of the Force Majeure Event.</p>

      <p>Notwithstanding the other provisions of the present Terms, each party shall be entitled to terminate the Contract without liability to the other by written notice to the other party in the event that the performance of the Contract is impeded for more than 6 months due to a Force Majeure Event.</p>

      <h2 class="docs__heading">MISCELLANEOUS</h2>

      <p>The Company reserves the right to modify or discontinue, temporarily or permanently, the Services with or without notice to the Client and the Company shall not be liable to the Client or any third party for any modification to or discontinuance of these Services save for the return of any prepaid sums in connection with the provision of the Services which are subsequently not provided.</p>

      <p>The Company shall be free to provide its Services to third parties whether during or following the provision of the Services to the Client.

      <p>During the term of the Contract and for a period of 12 months thereafter, the Client agrees not to employ or engage or offer to employ or engage anyone designated by the Company to work on the Services.</p>

      <p>The failure of either party to enforce or to exercise at any time or for any period of time any right pursuant to these Terms does not constitute, and shall not be construed as, a waiver of such terms or rights and shall in no way affect that party&rsquo;s right later to enforce or to exercise it.</p>

      <p>If any term of these Terms is found illegal, invalid or unenforceable under any applicable law, such term shall, insofar as it is severable from the remaining Terms, be deemed omitted from these Terms and shall in no way affect the legality, validity or enforceability of the remaining Terms which shall continue in full force and effect and be binding on the parties to the Contract.</p>

      <p>Any valid alteration to or variation of these Terms must be in writing signed on behalf of each of the parties by duly authorised officers.</p>

      <p>A person who is not a party to the Contract shall not have any rights under or in connection with it.</p>

      <p>All notices must be in writing to DS Marketing & Contracting Ltd. (Trading as: “Distinctive Marketing” / “Distinctive Contracting” / “Distinctive Consulting”), 5a Frascati Way, Maidenhead Berkshire, SL6 4UY, UK, or such address as is advised by the Company.</p>

      <h2 class="docs__heading">ENTIRE AGREEMENT</h2>

      <p>The parties acknowledge and agree that the Contract supersedes any prior agreement, understanding or arrangement between the parties, whether made orally or in writing and constitute the entire agreement between the Company and the Client relating to these Services. Therefore, except as expressly provided, all other conditions and warranties (implied, statutory or otherwise) are hereby excluded to the fullest extent permitted by law.</p>

      <h2 class="docs__heading">LAW AND JURISDICTION</h2>

      <p>The Company and the Client shall be obliged to attempt to settle any disputes arising between them including disputes relating to the existence or validity of the Contract through negotiation provided always that either party shall be entitled at all times to exercise any of its other remedies including through taking legal action.</p>

      <p>The Contract shall be governed by and construed in accordance with English law and the parties hereby agree to submit to the non-exclusive jurisdiction of the English courts.</p>

      <p class="ita">This document was last updated on 13th February 2016.</p>

    </div>

    <div class="modal-footer">
    </div>

  </div>

</div>

</div>
