<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    <div class="page-content">
      <div class="wrapper--blog">
        {{ content }}
      </div>
    </div>

	{% include footer.html %}

	{% include cookie-policy.html %}

	{% include privacy.html %}

	{% include terms.html %}

    <!--[if lt IE 9]>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
    <![endif]-->
    <!--[if gte IE 9]><!-->
		<script src="//ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="{{ '/js/jquery.min.js' | prepend: site.baseurl }}">\x3C/script>')</script>
    <!--<![endif]-->

	<script src="{{ '/js/site.js' | prepend: site.baseurl }}"></script>

	{% include script-google.html %}

	{% include banner-eucookie.html %}

  </body>

</html>
